*{
    padding: 0;
    margin: 0;
}
img{
    user-select: none;
}
body{
    margin: 0;
    padding: 0;
    font-family: arial, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.top_bar{
    background-color: #1F203A;
    height: 70px;
    padding-bottom: 5px;
}
.top_bar img {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0px 0 0 10%;
    transform: scale(1.3);
}
.body_bar{
    background-color: #1F203A;
    height: auto;
}
.body_bar .digit1{
    width: 100%;
    height: 350px;
    background-color: #FCEB21;
    overflow: hidden;
    font-size: 2rem;
}
.body_bar .digit1 .left{
    width: 40%;
    margin-left: 5%;
    float: left;
}
.left{
    width: 40%;
    margin-left: 5%;
    float: left;
    text-align: center;
}
.body_bar .digit1 .left img{
    margin-top: 20px;
    width: 300px;
    height: 120%;
}
.body_bar .digit1 .right{
    width: 40%;
    margin-right: 5%;
    float: right;
    font-family: Arial, Tahoma, sans-serif;
    color: rgb(5, 23, 51);
    margin-top: 60px;
    text-align: center;
}
.right{
    width: 40%;
    margin-right: 5%;
    float: right;
}
.sspan{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 1.4rem;
}
.body_bar .digit2{
    height: auto;
    background-color: #1F203A;
    margin: 0 10% 0 10%;
    color: #eee;
    margin-top: 100px;
    padding-bottom: 60px;
}
.body_bar .digit2 h1{
    font-size: 100px;
    letter-spacing: 10px;
    margin-bottom: 15px;
}
.body_bar .digit2 h3{
    letter-spacing: 5px;
    font-weight: lighter;
    margin-bottom: 30px;
}
.body_bar .digit2 p{
    font-weight: lighter;
    font-size: large;
    letter-spacing: 2px;
}
.body_bar .digit3{
    height: auto;
    background-color: #1F203A;
    margin: 0 10% 0 10%;
}
.body_bar .digit3 .BLOCKS{
    margin-left: 5%;
    height: 500px;
}
.body_bar .digit3 .BLOCK{
    width: 180px;
    height: 180px;
    margin: 20px;
    background-color: rgba(33, 71, 177, 0.37);
    border: solid 2px #eee;
    float: left;
    cursor: pointer;
    transition: .5s all;
}
.body_bar .digit3 .BLOCK:hover{
    transform: scale(1.2);
}
.contact_bar {
    height: 350px;
    background-color: #FCEB21;
    margin-top: 0;
}
.contact_bar .left input, .inputs{
    background-color: rgba(255, 255, 255, 0);
    border: rgba(238, 238, 238, 0);
    border-bottom: #000 solid 1px;
    margin: 10px;
    width: 300px;
    height: 40px;
    outline: none;
}
.inputs{
    height: 90px;
}
.contact_bar .left button{
    border: rgba(238, 238, 238, 0);
    border-bottom: #000 solid 1px;
    background-color: rgba(255, 255, 255, 0);
    width: 120px;
    height: 40px;
}
.contact_bar .left .text{
    height: 90px;
}
.contact_bar .right{
    padding: 40px;
}
.contact_bar .right h1{
    margin: 10px;
    margin-bottom: 50px;
}
.contact_bar .right span{
    margin: 10px;
    margin-top: 20px;
}
.bottom_bar{
    height: 70px;
    background-color: #1F203A;
    color: #fff;
    text-align: center;
    padding-top: 10px;
    font-size: large
}